body {
    background-color: aqua;
    font-family: 'Poppins', sans-serif;

}


#fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    flex: 3;
    border: 5px dashed red;

}


.fishList {
    flex:3;
    display: flex;
    flex-wrap: wrap;
   

}

.fishList-card {
    margin: 2em;
    background-color: chartreuse;
    flex-basis: 25%;
    
}

.most-holy:hover {
    transform: scale(1.2);
}
.fish-image {
    width: 100%;
    height: auto;
}

.card-image {
    

}
aside {
    
    flex: 1;
    background-color: cadetblue;
    align-content: space-around;
}
.tips-container {
    display:flex;
    flex-direction: column;

}
.tipcard {
    border: darkslategrey dotted 2px;
    margin: 5px;
    padding: 5px;

}

.most-holy {
    background-image: radial-gradient(red, green, blue);
    color: white;
}
.soldier {
    background-color: lightgreen}

.unworthy {
    background-color: black;
    color: slategrey;
    opacity: 30%;
}
.unworthy:hover {
    transform: scale(.5);

.quotes {
    padding: 10px;
    background-image: radial-gradient(red, green, blue);
}


strong {
    color: white;
    text-shadow: darkorange  ;
}